# Dependencies
node_modules/
package-lock.json
.pnp
.pnp.js

# Build outputs
.next/
out/
build/
artifacts/
cache/
typechain-types/

# Testing
coverage/

# Environment
.env
.env.local
.env.*.local
.env*.development

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Misc
.netlify

# Slither
slither.db.json
